<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class=" bg-white flex items-center flex-col p-12 shadow-md rounded-2xl  max-W-xs">
        <h1 class=" text-3xl font-bold text-center mb-8 "> Welcome to Chat App</h1>
        <a href="/name" class="w-full text-center bg-indigo-600 text-white py-2 rounded-md text-xl"> Start </a>
    </div>
       
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const socket =io();
    
    </script>
</body>
</html>






